$font-family : 'Inter',
sans-serif;
$font-style : "normal";
$font-size : 16px;
$white : #fff;
$black : #000;
$primary-color: #103F6A;
$primary-bg : #EEEEEE;
$active-color: #FACA0E;
$border-style : solid;
$primary-font-color: #55565A;
$linear-bg : linear-gradient(90deg, #0072BA -9.11%, #0EA377 64.42%, #FACA0E 113.44%),
#103F6A;
$secondary-color: #2E5D88;

// Icons file import line

.App{
    text-align: unset;
    overflow-x: hidden;
}
.nav-link {
    color: $white;
    font-family: $font-family !important;
    font-size: $font-size;
    font-weight: 600 !important;
    line-height: 19px;
    padding-bottom: 3%;
}

.header-logo {
    width: 250px;
    padding-bottom: 14px;
}

.navbar-nav .nav-link.active {
    color: $active-color;
    border-bottom: 3px solid;
    padding-bottom: 3.5%;
}

.nav-link:hover {
    color: $active-color;
}

.navbar-brand {
    padding: 0px !important;
}

.navbar-toggler {
    border: none !important;

    &:focus-visible {
        box-shadow: none !important;
    }

    &:focus {
        box-shadow: none !important;
    }
}

.navbar-toggler-icon {
    background-image: url("./assets/menu_line.svg");
}

.btn-close {
    background-image: url("./assets/close_icon.svg");
    color: white !important;
    opacity: 1;
}

.offcanvas {
    background-color: $primary-color !important;
}

.divider-line {
    height: 4px;
    background: $linear-bg;
}

.nav-link:focus,
.navbar-nav .show>.nav-link {
    color: $active-color ;
}

.mobile-divider {
    display: none;
}

.mobile-menu {
    display: none;
}

.web-menu {
    display: inline-flex;
}

.mobile-login-btn {
    background: $secondary-color;
    border-radius: 56px;
    text-align: center;
    padding: 16px;
    margin: 16px;
    cursor: pointer;
}

.mobile-donate-btn {
    background: $active-color;
    border-radius: 56px;
    color: #000 !important;
    padding: 16px;
    text-align: center;
    margin: 16px;
    margin: 6px 16px 24px;
    cursor: pointer;
}

.web-login-btn {
    padding: 12px 16px;
    background: $secondary-color;
    border-radius: 56px;
    margin-right: 12px;
    margin-left: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: $font-size;
    color: $white;
    font-family: $font-family;
    cursor: pointer;
}

.web-donate-btn {
    background: $active-color;
    border-radius: 56px;
    margin-right: 12px;
    margin-left: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: $font-size;
    padding: 12px 16px;
    font-family: $font-family;
    cursor: pointer;
}

.dropdown-item {
    padding: 8px 16px;
    color: rgba(2, 10, 18, 0.6) !important;
    font-weight: 500;
    font-family: $font-family;
}

.navbar-expand-lg .navbar-nav {
    align-items: baseline;
}

.programs-header-grid {
    margin-top: 12px !important;
    display: flex;
    margin-left: 0px !important;
    padding: 0px 74px 84px;
}
.p-l-84{
    padding-left: 84px !important;
}

.programs-body-grid {
    .MuiPaper-elevation {
        max-width: fit-content;
        margin: 12px;
        border-radius: 8px;
        box-shadow: none !important;

        .MuiCardMedia-root {
            height: 260px !important;
            border-radius: 8px;
        }

        .MuiCardContent-root {
            padding: 24px 0px 16px !important;
        }

        .MuiCardActions-root {
            padding: 0px !important;

            .MuiButtonBase-root {
                min-width: fit-content !important;

                text-transform: unset !important;
            }
        }
    }
}

.ourleader-section {
    .MuiPaper-elevation {
        max-width: 100% !important;
        margin: 12px;
        border-radius: 8px;
        box-shadow: none !important;

        .MuiCardMedia-root {
            height: 300px !important;
            border-radius: 8px;
        }

        .MuiCardContent-root {
            padding: 24px 0px 0px !important;
        }
    }
}

.programs-header-title {
    font-family: $font-family;
    font-size: 24px;
    font-weight: 600;
    color: $black;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.contact-us-sectionone{
padding-right: 40px;
}
.contactus-sectiontwo {
    background: #EBF1F7;
    border-radius: 16px;
}
.contactus-title{
line-height: 47px;
}
.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 202px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 202px;
    border: 1px solid #EEEEEE;
border-radius: 16px;
}
.location-address{
    font-weight: 500 !important;
    padding-left: 16px;
}
.gmap_iframe {
    height: 202px !important;
}
.programs-description-text {
    font-family: $font-family !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 21px !important;
    color: $primary-font-color !important;
}

.programs-first-btn {
    border-radius: 20px !important;
    padding: 8px 16px !important;
    color: $white !important;
    font-family: $font-family !important;
    margin-right: 12px !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    width: 108px !important;
    margin: 0px !important;

    a {
        color: white !important;
        text-decoration: none !important;
    }
}

.program-donate-btn {
    padding: 8px 16px !important;
    border-radius: 20px !important;
    font-family: $font-family !important;
    margin-right: 12px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    width: 108px !important;
    margin: 0px !important;
    background: $white !important;
    text-align: center !important;
    cursor: pointer;
}
.footer-donate-btn{
    border-radius: 56px !important;
    font-family: $font-family !important;
    margin-right: 12px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    width: fit-content !important;
    margin: 0px !important;
    text-align: center !important;
    padding: 16px 32px !important;
    cursor: pointer;
}

.p-r-0 {
    padding-right: 0px !important;
}

.p-l-16 {
    padding-left: 16px !important;
}

.p-l-24 {
    padding-left: 24px !important;
}

.footer-sectionone-text {
    padding-left: 24px !important;
    margin: auto !important;
}

.footer-one-title {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: $white;
}
.footer-one-subtitle{
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $white;
}

.navbar-nav .dropdown-menu {
    background: $white;
    border: 1px $border-style $primary-bg;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.carousal-image {
    object-fit: fill;
    object-position: center;
    height: 100vh;
    overflow: hidden;
}

.carousel-caption {
    bottom: 14rem;
    text-align: left;
}

.carousel-caption>h3 {
    font-weight: bold;
    font-family: $font-family;
    font-size: 46px;
}

.carousel-caption>p {
    font-family: $font-family;
    font-size: 20px;
    font-weight: 300;
}

.home-page-section {
    padding: 0 84px 48px;
}

.p-t-40 {
    padding-top: 40px;
}

.padding-top-40 {
    padding-top: 24px;
}

.p-t-0 {
    padding-top: 0px !important;
}

.p-t-84 {
    padding-top: 84px !important;
}

.ourleader-p-t-40 {
    padding-top: 60px !important;
}

.section-header-title {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    margin: 0px !important;
    color: #000000;
}

.learnmore {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: $primary-color;
    margin: 0px !important;
    cursor: pointer;

}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.align-center-section {
    display: inline-flex;
    align-items: center !important;
}

.verticalalign-bottom {
    vertical-align: bottom !important;
}

.sectiontwo-description {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: $primary-font-color;
    text-align: left;
    margin: 0px !important;
}

.home-programs-carousal {
    .p-carousel-indicators {
        display: none !important;
    }
}

.p-carousel .p-carousel-content .p-carousel-prev,
.p-carousel .p-carousel-content .p-carousel-next {
    margin: 0px !important;
}

.ourleaders-carousal {

    .p-carousel .p-carousel-content .p-carousel-prev,
    .p-carousel .p-carousel-content .p-carousel-next {
        display: none !important;
    }
}

.carousel-control-next-icon {
    background-image: url('./assets/homecarousal-right.png');
}

.carousel-control-prev-icon {
    background-image: url('./assets/homecarousal-left.png');
}

.footer-sectionone {
    background: $primary-color;
    padding: 128px 84px 100px;
}

.footer-sectionone-img {
    width: 100%;
}
.footer-grid{
    align-items: flex-start !important;
    justify-content: center !important;
}
.footer-sectiontwo{
    padding: 56px 84px !important;
}
.footer-sectionthree{
    padding: 56px 84px !important;
    background: $primary-color;

}
a{
    text-decoration: none !important;
}
.footer-grid-title{
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: $active-color;
    font-family: 'Inter';
}
.footer-grid-links{
font-family: $font-family;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 14px;
color: $white;
}
.p-t-24{
    padding-top: 24px !important;
}
.p-t-16{
    padding-top: 16px !important;
}
.p-b-16{
    padding-bottom: 16px !important;
}
.p-b-40{
    padding-bottom: 40px !important;
}
.m-a-0{
    margin: 0px !important;
}
.margin-auto{
    margin: auto !important;
}
.footer-copyrights{
    padding-top: 48px !important;
}
.footer-divider{
border-top: 1px solid $primary-bg;
}
.resources-section{
    padding-top: 24px;
}
.resoures-title-p{
    font-family: $font-family;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 16px;
}
.resources-grid{
    background: rgba(16, 63, 106, 0.04);
    border-radius: 8px;
    padding: 18px 16px;
    align-items: center;
    cursor: pointer;
    a{
        text-decoration: none;
        color: $primary-color !important;
        &:hover{
            color: $primary-color;
        }
    }
}
.resources-district-title{
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: $primary-color !important;
    margin: 0px;
}
.contactus-subtitle {
    font-style: normal;
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $primary-font-color;
}
.p-r-84{
padding-right: 84px !important;
}
.material-symbols-outlined{
    vertical-align: middle !important;
    color: $primary-color;
}
.mobile-description-p {
    p , ul>li {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: $primary-font-color;
        font-family: $font-family;
    }

}
.ourdistrict-commonhead{
padding: 32px 0px;
background: $primary-color;
}
.ourdistrict-subtitle {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-right: 12px;
    color: $white;
}
.ourdistrict-main-p{
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
color: $white;
font-family: $font-family;
padding-right: 12px;
}
.main-p-color{
color: $primary-color !important;
}
.deatils-info-ourmentor{
    background: #EBF1F7;
}
.details-info-sectiontwo{
    background: rgba(235, 183, 0, 0.08);
}
.m-t-05{
    margin-top: 0.5px !important
}
.details-info-sectionthree{
    background: rgba(241, 93, 60, 0.08);

}
.details-info-sectionfour{
    background: #EBF8F3;
}
.details-info-sectionfive{
    background: rgba(53, 1, 75, 0.08);
}
.p-a-84{
    padding: 84px;
}
.border-radius-8{
    border-radius: 8px;
    }
    
    .designation-p {
        font-family: $font-family;
        color: $black;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
        .aboutus-description-txt {
            font-family: $font-family;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 36px;
            color: $primary-font-color;
        }
        .aboutus-learnmore {
            .material-symbols-outlined {
                color: $black !important;
            }
    
            .learnmore {
                padding-left: 8px;
                vertical-align: middle;
                color: $black !important;
                }
                }
                                .aboutus-card-des {
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 18px;
                                    line-height: 21px;
                                    font-family: $font-family;
                                    color: $primary-font-color;
                                    margin: 0;
                                }
                


.aboutus-cards{
    background: $white;
        border-radius: 16px;
        margin: 12px;
        padding: 24px;
        min-height: 252px;

        img {
            background: #F9F9F9;
            border-radius: 8px;
            padding: 12px;
            background: #F9F9F9;
            border-radius: 8px;
            margin-bottom: 12px;
        }
}
                // Mobile Responsive
@media screen and (max-device-width: 640px) {
    .bg-light {
        padding: 16px !important;
    }

    .header-logo {
        padding-bottom: 0px !important;
        width: 200px;
    }

    .navbar-toggler-icon {
        font-size: 16px;
    }

    .navbar-nav .nav-link.active {
        border-left: 3px solid !important;
        border-bottom: none !important;
    }

    .offcanvas-body {
        padding-left: 0px !important;
    }

    .nav-link {
        font-size: 14px;
        padding-left: 16px !important;
    }

    .mobile-divider {
        display: block !important;
    }

    .navbar-nav .dropdown-menu {
        background: #022C53;
        width: 499px;
        border-radius: 0px !important;
        border: 0;
        margin: 0px;
    }

    .dropdown-item {
        color: $white !important;
        padding-left: 34px;
        font-size: 14px !important;
        padding-top: 6px;
        padding-bottom: 6px;
        font-weight: 500;
        font-family: $font-family;
    }

    .mobile-menu {
        display: block !important;
    }

    .web-menu {
        display: none !important;
    }

    .carousal-image {
        height: 500px;
    }

    .carousel-caption {
        bottom: 8rem;
        text-align: left;
    }

    .carousel-caption>h3 {
        font-weight: bold;
        font-family: $font-family;
        font-size: 30px !important;
    }

    .carousel-caption>p {
        font-family: $font-family;
        font-size: 14px !important;
        font-weight: 300;
    }

    .home-page-section {
        padding: 0px 16px 48px;
    }

    .sectiontwodivider {
        width: 80px;
    }

    .section-header-title {
        font-size: 18px;
    }
    .resoures-title-p{
        font-size: 16px;
    }
    .learnmore {
        font-size: 14px;
    }

    .learnmore-icon {
        font-size: 18px;
    }

    .p-t-40 {
        padding-top: 24px !important;
    }

    .padding-top-40 {
        padding-top: 6px !important;
    }

    .p-t-84 {
        padding-top: 38px !important;
    }

    .ourleader-p-t-40 {
        padding-top: 24px !important;
    }

    .sectiontwo-description {
        font-size: 16px !important;
        line-height: 19px;
    }

    .programs-header-grid {
        margin-top: 0px !important;
        padding: 16px 16px 24px;
    }
    .p-l-84{
        padding-left: 16px !important;
    }

    .programs-body-grid {
        .MuiPaper-elevation {
            margin: 12px;
            margin-left: 0px !important;
            border-radius: 8px;

            .MuiCardMedia-root {
                height: 200px !important;
                border-radius: 8px;
            }
        }
    }

    .ourleader-section {
        .MuiPaper-elevation {
            margin: 12px;
            margin-left: 0px !important;
            border-radius: 8px;

            .MuiCardMedia-root {
                height: 300px !important;
                border-radius: 8px;
            }
        }
    }

    .p-carousel .p-carousel-content .p-carousel-prev,
    .p-carousel .p-carousel-content .p-carousel-next {
        display: none !important;
    }

    .section-p-t-12 {
        padding-top: 12px !important;
    }

        .footer-sectionone {
            padding: 48px 16px 30px !important;
        }
    
        .footer-sectionthree{
            padding: 0px 16px 48px !important;
        }
        .footer-copyrights{
            padding-top: 24px !important;
        }
    .footer-sectionone-img {
        width: 100%;
        margin-left: 16px;
        padding-right: 16px !important;
    }

    .footer-sectionone-text {
        padding-left: 16px !important;
        padding-top: 24px !important;
        margin: auto !important;
    }
    .footer-one-title {
        font-family: $font-family;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: $white;
    }
    .footer-one-subtitle{
        font-family: $font-family;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $white;
    }
    .footer-donate-btn{
        padding: 12px 24px !important;
    }
    .p-r-84{
        padding-right: 16px !important;
    }
    .mobile-description-p {
        p , ul>li {
            font-size: 16px;
        }
    
    }
    .ourdistrict-commonhead{
        padding-top: 24px;
        padding-right: 30px !important;
        padding-bottom: 24px;
    }
    .ourdistrict-subtitle,.ourdistrict-main-p{
        font-size: unset !important;
        line-height: normal;
    }
    .p-a-84{
        padding: 16px !important;
    }
    .aboutus-description-txt{
        font-size: 16px !important;
        line-height: 26px !important;
    }
    .aboutus-cards{
        min-height: unset;
    }
    .contactus-title{
        line-height: unset;
    }
    .contactus-subtitle{
        font-size: 16px;
        line-height: normal;
    }
    .our-office{
        font-size: 16px !important;
    }
    .contact-us-sectionone{
        padding-right: 0px;
    }
    .contactus-sectiontwo{
        margin: 16px 0 16px 16px !important;
    }
}